<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">
          <img alt="Brand" src="/public/admin/img/logo.jpg" width=40px" height="40px" class="logo">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <span class="glyphicon glyphicon-education"></span> &nbsp; {{name}}
          </a>
        </li>
        <li>
          <a href="/admin/logout">
            <span class="glyphicon glyphicon-triangle-right"></span> &nbsp;退出登录
          </a>
        </li>
      </ul>
    </div>
  </nav>